@charset "utf-8";
/* CSS Document */
body {
	 background: #016df3;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#016df3));
    background: -moz-linear-gradient(top,  #222,  #016df3);
	 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#016df3'); 
	padding:0;
	font-family:Conv_ColabLig;
	min-height:600px;
	
}
h2{
color:#fff;
font:400 28px 'Roboto Condensed',sans-serif;	
}
h3{
color:#fff;
font:400 20px 'Roboto Condensed',sans-serif;		
}
p{
text-align:justify;
color:#E6E6E6;	
}

